header
{
	font-family: "Times New Roman", Times, serif;
	color: #FF7DA8;
}

header
{
  font-family: "Times New Roman", Times, serif;
  color: #FF7DA8;
}

/*Bar containg header and meets with nav*/
.pinkbar
{
	text-align: center;
	background-color: #FFB5CE;
	overflow: hidden;
}
	
/*Logo*/
.logo
{
	float: left;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}


/*Top Navigation*/
.topnav
{
  text-align: center;
  background-color: #FF7DA8;
  overflow: hidden;
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
  
}

.topnav a
{
  color: #ffffff;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover
{
  color: #70a2ff;
}

.centerimg
{
  display: block;
  margin: auto;
  width: 50%;
  padding-bottom: 20px;
}

.textcenter
{
	text-align: center;
}


main
{
	background-color: #FFF2F7;
	overflow: hidden;
	border-top: 2px solid #FFB5CE;
	border-left: 1px solid #FFB5CE;
	border-right: 1px solid #FFB5CE;
}

h1 
{
	font-family: "Times New Roman", Times, serif;
	color: #FF7DA8;
	padding-right: 120px;
	padding-top: 20px;
}
	
h2
{
	text-align: center;
	color: #FF7DA8;
	font-family: "Times New Roman", Times, serif;
}

p
{
	font-family:"Times New Roman", Times, serif;
	color: #FF7DA8;
	font-size: 17px;
}

p a
{
	color:#2e63c7;
}

p a:hover
{
	color:#6298fc;
}

footer 
{ 
	background-color: #FFB5CE;
	color: #ffffff;
   	font-size: 1em;
    font-style: italic;
	padding: 1em;
	text-align: center;
	border-top: 2px solid #FF7DA8;
	border-bottom: 2px solid #FF7DA8;
	border-left: 1px solid #FF7DA8;
	border-right: 1px solid #FF7DA8;
}
  